body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #424242;
}

h1 {
  text-align: center;
  color: white;
}

div {
  margin-bottom: 20px;
}

.budget {
  color: white;
  font-weight: bold;
}

#shopping-form {
  margin-bottom: 20px;
}

/* Change the label color to white */
#shopping-form label {
  color: white;
  font-weight: bold;
}

#shopping-form input[type="text"],
#shopping-form input[type="number"] {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}